{% extends "base.html" %}
{%block title%}Ana Sayfa - {{block.super}} {% endblock %}
{% block body %}
    
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px">1. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: blue; height: 100px">2. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: orange; height: 100px">3. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: purple; height: 100px">4. Ürün</div>
            
        </div>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-md-10 col-sm-6" style="background-color: red; height: 100px">1. Ürün</div>
            <div class="col-md-4 col-sm-6" style="background-color: blue; height: 100px">2. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: orange; height: 100px">3. Ürün</div>
            <div class="col-md-3 col-sm-6" style="background-color: purple; height: 100px">4. Ürün</div>
            
        </div>
    </div>

{% endblock  %}